@model QuanLyCaThi.Models.RegisteredList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Chuyển ca thi cho sinh viên: @ViewBag.FullName - Lớp: @ViewBag.SubjectName</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RegisteredListID" />
            <input type="hidden" asp-for="StudentID" />
            <input type="hidden" asp-for="SubjectID" />
            <div class="form-group">
                <label class="control-label">Ca thi:</label>
                <select asp-for="ExamTimeID" class="form-control" asp-items="ViewBag.ExamTimeID"></select>
                <span asp-validation-for="ExamTimeID" class="text-danger"></span>
            </div>
            <div class="form-group w3-margin-top">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
