@model QuanLyCaThi.Models.DangKyThi

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row w3-padding">
    <div class="w3-row w3-blue ud-max-width-50 ud-center">
            <h1 class="w3-center">Admin đăng ký thi cho sinh viên</h1>
        </div>
    <form asp-action="Create" class="w3-padding w3-card-4 ud-max-width-50 ud-center">
        <div class="w3-row">
            <h2>@ViewBag.infoSuccess</h2>
        </div>
        <div class="w3-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="w3-row">
            <label>Mã xác thực:</label>
            <input name="SecurityCode" type="password" class="w3-input w3-border w3-border-blue w3-round" />
        </div>
        <div class="w3-row w3-margin-top">
            <div class="w3-col l5">
                <div class="w3-row">
                    <label>Mã Sinh viên:</label>
                    <input asp-for="StudentCode" class="w3-input w3-border w3-border-blue w3-round" />
                </div>
                <div class="w3-row">
                    <span asp-validation-for="StudentCode" class="text-danger"></span>
                </div>
            </div>
            <div class="w3-col l6 w3-right">
                <div class="w3-row">
                    <label>Họ tên Sinh viên:</label>
                    <input asp-for="FullName" class="w3-input w3-border w3-border-blue w3-round" />
                </div>
                <div class="w3-row">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="w3-row w3-margin-top">
            <div class="w3-col l5">
                <div class="w3-row">
                    <label>Chọn Học phần đăng ký thi:</label>
                    <select onchange="GetExamTimeBySubjectAmin();" asp-for="SubjectID" class ="w3-select w3-border w3-border-blue w3-round w3-white w3-padding w3-large" asp-items="ViewBag.SubjectID">
                        <option value="-1">Chọn học phần</option>
                    </select>
                </div>
            </div>
            <div class="w3-col l6 w3-right">
                <div class="w3-row">
                    <div id="ExamTime"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="w3-row w3-margin">
            <div class="form-group">
                <input type="submit" value="Đăng ký thi" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="TraCuu" class="w3-right btn btn-success">Tra cứu thông tin đăng ký</a>
            </div>
        </div>
    </form>
</div>