@model IEnumerable<QuanLyCaThi.Models.Subject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <b>Danh sách học phần</b>
    <a class="btn btn-primary w3-right w3-card-4 w3-margin-left" asp-action="Create">+ Add</a>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Học phần
            </th>
            <th>
                Tên Học phần
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectID">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectID">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
