@model IEnumerable<QuanLyCaThi.Models.SecurityCode>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SecurityKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityKey)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
